@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @ViewData["nombreUsuario"]</h1>
    <img src="@ViewData["fotoPerfil"]" alt=" Foto de perfil" style=" width:200px;height:200px;border-radius:50%"/>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
